 #bg {
   position: fixed;
   top: 1em;
   bottom: 0;
   margin: 0 -600px;
   background-size: cover;
   z-index: -1;
 }

 p {
   line-height: 2rem;
 }

 .card {
   width: 300px;
   margin: 5px;
 }

 #articles, #faves {
   display: flex;
   flex-wrap: wrap;
   background-color: white;
 }