 #bg {
   position: fixed;
   top: 1em;
   bottom: 0;
   margin: 0 -600px;
   background-size: cover;
   z-index: -1;
 }

 p {
   line-height: 2rem;
 }

 .center {
   text-align: center !important;
 }

 .card {
   width: 300px;
   margin: 5px;
 }

 #articles, #faves {
   display: flex;
   flex-wrap: wrap;
 }

 .btn-small {
   margin-bottom: 10px;
 }

 /* label focus color */

 .input-field input[type=text]:focus+label, .materialize-textarea:focus:not([readonly])+label {
   color: #02276b !important;
 }

 /* label underline focus color */

 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #02276b !important;
   box-shadow: 0 1px 0 0 #02276b !important;
 }